<p-table 
  [value]="lancamentos" 
  [responsive]="true" 
  [paginator]="true" 
  [rows]="rows" 
  [lazy]="true" 
  [totalRecords]="totalRegistros" 
  (onLazyLoad)="aoMudarDePagina($event)"
  #tabelaLancamentos>

    <ng-template pTemplate="header">
      <tr>
        <th>Pessoa</th>
        <th>Descrição</th>
        <th class="text-center">Vencimento</th>
        <th class="text-center">Pagamento</th>
        <th class="text-right">Valor</th>
        <th class="text-right"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-lancamento>
      <tr>
        <td><span class="p-column-title">Pessoa</span> {{lancamento.pessoa}}</td>
        <td><span class="p-column-title">Descrição</span>{{lancamento.descricao}}</td>
        <td class="text-center"><span class="p-column-title">Vencimento</span>{{lancamento.dataVencimento | date: 'dd/MM/yyyy'}}</td>
        <td class="text-center"><span class="p-column-title">Pagamento</span>{{lancamento.dataPagamento | date: 'dd/MM/yyyy'}}</td>
        <td class="text-right">
          <span class="p-column-title">Valor</span>
          <span class="lancamento-badge" [class]="lancamento.tipo === 'RECEITA' ? 'status-receita' : 'status-despesa'">{{lancamento.valor | currency: 'BRL'}}</span>
        </td>
        <td class="text-center">
          <a class="pi pi-pencil" style="cursor: pointer;" pTooltip="Editar" tooltipPosition="left"></a>
          <span class="p-2"></span>
          <button style="background-color: white; border: none; cursor: pointer;"(click)="excluir(lancamento.codigo)" ><i class="pi pi-trash" pTooltip="Excluir"></i></button>
        </td>
      </tr>
    </ng-template>
</p-table>