<div class="container">

  <form (ngSubmit)="pesquisar()">
    <div class="grid">

      <div class="col-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="col-12 p-fluid">
        <label for="descricao">Descrição</label>
        <input pInputText type="text" id="descricao" name="descricao" [(ngModel)]="filtro.descricao">
      </div>
  
      <div class="col-12">
  
        <label class="block">Vencimento</label>
        <p-calendar id="data-vencimento-inicio" name="vencimentoinicio" [(ngModel)]="filtro.dataVencimentoDe"></p-calendar>
  
        <label class="p-3">Até</label>
        <p-calendar id="data-vencimento-fim" name="vencimentofim" [(ngModel)]="filtro.dataVencimentoAte"></p-calendar>
  
      </div>
  
      <div class="col-12">
        <button pButton label="Pesquisar" type="submit"></button>
      </div>
      
    </div>
  </form>
  
  <div class="grid">
    <div class="col-12">
      <hr>
    </div>
  </div>
  
  <div class="grid">
    <div class="col-12" >

      <app-lancamentos-grid 
        [lancamentos]="lancamentos" 
        [rows]="filtro.itensPorPagina" 
        [totalRegistros]="totalRegistros" 
        (paginaAlteradaEvent)="aoAlterarPagina($event)">
      </app-lancamentos-grid>

    </div>
  </div>

  <div class="grid">
    <div class="col-12">
      <a pButton label="Nova Lançamento" href="javascript:;"></a></div>
  </div>

  </div>