<div class="container">
    <form>
        <div class="grid">
            <div class="col-12">
                <h1>Nova Pessoa</h1>
            </div>

            <div class="col-12 p-fluid">
                <label for="nome">Nome</label>
                <input pInputText type="text" id="nome" />
            </div>

            <div class="col-12 sm:col-9 p-fluid">
                <label for="logradouro">logradouro</label>
                <input pInputText type="text" id="logradouro" />
            </div>

            <div class="col-12 sm:col-3 p-fluid">
                <label for="numero">Número</label>
                <p-inputNumber id="numero"></p-inputNumber>
            </div>

            <div class="col-12 sm:col-12 md:col-4 p-fluid">
                <label for="complemento">Complemento</label>
                <input pInputText type="text" id="complemento" />
            </div>

            <div class="col-12 sm:col-12 md:col-4 p-fluid">
                <label for="bairro">Bairro</label>
                <input pInputText type="text" id="bairro" />
            </div>

            <div class="col-12 sm:col-12 md:col-4 p-fluid">
                <label for="cep">CEP</label>
                <p-inputMask id="cep" mask="99999-999"></p-inputMask>
            </div>
            
            <div class="col-12 sm:col-12 md:col-6 p-fluid">
                <label for="cidade">Cidade</label>
                <input pInputText type="text" id="cidade" />
            </div>

            <div class="col-12 sm:col-12 md:col-6 p-fluid">
                <label for="estado">Estado</label>
                <input pInputText type="text" id="estado" />
            </div>

            <div class="col-12">
                <p-button type="submit">Salvar</p-button>
                <span class="p-2"></span>
                <p-button type="button">Novo</p-button>
                <span class="p-2"></span>
                <a href="javascript:;">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>
