<div class="container">
    <form #pessoaForm="ngForm" (ngSubmit)="salvar(pessoaForm)">
        <div class="grid">
            <div class="col-12">
                <h1>Nova Pessoa</h1>
            </div>

            <div class="col-12 p-fluid field">
                <label for="nome">Nome</label>
                <input pInputText type="text" id="nome" name="nome" #nome="ngModel" [(ngModel)]="pessoa.nome" required minlength="5"/>
                <app-message [control]="nome" error="required" text="Preencha o campo 'Nome'."></app-message>
                 <app-message [control]="nome" error="minlength" text="O campo 'Nome' deve ter pelo menos {{ nome.errors?.['minlength']?.requiredLength }} caracteres."></app-message>
            </div>

            <div class="col-12 sm:col-9 p-fluid field">
                <label for="logradouro">logradouro</label>
                <input pInputText type="text" id="logradouro" name="logradouro" #logradouro="ngModel" [(ngModel)]="pessoa.endereco.logradouro" required />
                <app-message [control]="logradouro" error="required" text="Preencha o campo 'Logradouro'."></app-message>
            </div>

            <div class="col-12 sm:col-3 p-fluid field">
                <label for="numero">Número</label>
                <input pInputText type="text" id="numero" name="numero" #numero="ngModel" [(ngModel)]="pessoa.endereco.numero" required/>
                <app-message [control]="numero" error="required" text="Preencha o campo 'Número'."></app-message>
            </div>

            <div class="col-12 sm:col-12 md:col-4 p-fluid field">
                <label for="complemento">Complemento</label>
                <input pInputText type="text" id="complemento" name="Complemento" [(ngModel)]="pessoa.endereco.complemento"/>
            </div>

            <div class="col-12 sm:col-12 md:col-4 p-fluid field">
                <label for="bairro">Bairro</label>
                <input pInputText type="text" id="bairro"name="bairro" #bairro="ngModel" [(ngModel)]="pessoa.endereco.bairro" required/>
                <app-message [control]="bairro" error="required" text="Preencha o campo 'Bairro'."></app-message>
            </div>

            <div class="col-12 sm:col-12 md:col-4 p-fluid field">
                <label for="cep">CEP</label>
                <p-inputMask id="cep" mask="99999-999" name="cep" #cep="ngModel" [(ngModel)]="pessoa.endereco.cep" [required]="true"></p-inputMask>
                <app-message [control]="cep" error="required" text="Preencha o campo 'CEP."></app-message>
            </div>
            
            <div class="col-12 sm:col-12 md:col-6 p-fluid field">
                <label for="cidade">Cidade</label>
                <input pInputText type="text" id="cidade"name="cidade" #cidade="ngModel" [(ngModel)]="pessoa.endereco.cidade" required/>
                <app-message [control]="cidade" error="required" text="Preencha o campo 'Cidade'."></app-message>
            </div>

            <div class="col-12 sm:col-12 md:col-6 p-fluid field">
                <label for="estado">Estado</label>
                <input pInputText type="text" id="estado" name="estado" #estado="ngModel" [(ngModel)]="pessoa.endereco.estado" required/>
                <app-message [control]="estado" error="required" text="Preencha o campo 'Estado'."></app-message>
            </div>

            <div class="col-12">
                <p-button [id]="salvar" type="submit" [disabled]="pessoaForm.invalid?true:false">Salvar</p-button>
                <span class="p-2"></span>
                <p-button type="button">Novo</p-button>
                <span class="p-2"></span>
                <a href="javascript:;">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>
